# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
/log/
target/

# NodeJS
node_modules/
npm-debug.log

# Bower
bower_components/

# jspm
jspm_packages/

# Build
dist*/
public/
.sass-cache/
.tmp/
docs/

# Deplay
.publish/

# Test
coverage/
